<ul>
  <% @users.each do |user| %>
    <li>
      <div class="user-div">
        <div class="photo">
          <% if user.photo.present? %>
            <%= image_tag user.photo, alt: "User Photo", class: "user-photo" %>
          <% else %>
            <span>No photo</span>
          <% end %>
        </div>
        <%= link_to user_path(user) do %>
          <div class="user-info">
            <span class="user-name"><%= user.name %></span>
            <span class="post-count">Number of posts: <%= user.posts_counter %></span>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
